.restaurant-list {
  padding: 20px 40px;
}

.restaurant-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
}

@media (max-width: 1200px) {
  .restaurant-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .restaurant-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .restaurant-container {
    grid-template-columns: repeat(1, 1fr);
  }
}