.restaurant-list {
  padding: 20px 60px;
}

.restaurant-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
}
.restaurant-link {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 1200px) {
  .restaurant-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .restaurant-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .restaurant-container {
    grid-template-columns: repeat(1, 1fr);
  }
}